h1 {
    color: brown;
    text-align: center;
}

h2 {
    color: crimson;
    text-align: center;
}

ul {
    color: black;
    font-size: medium;
}
body {
    background-color:green;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}